<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List Messages</title> 
    <script src="/js/list.js" defer></script>   
</head>
<body>
    <h4>List Messages</h4>
    <div id="menu-texts">
        <a href="/create">Create</a>
        <span>View</span>        
        <span>Update</span>
        <span>Delete</span>
    </div>
    <div id="menu-links" hidden>
        <a href="/create" id="create-link">Create</a>
        <a href="#" id="view-link">View</a>        
        <a href="#" id="update-link">Update</a>
        <a href="#" id="delete-link">Delete</a>
    </div>
    <div> 
        <% if (messages.length != 0) { %>
            <ul id="messages">
                <% for (var i = 0; i < messages.length;  i++ ) { %>
                    <input type='radio' name='messages' value='<%= messages[i].id %>' ><%= messages[i].text %></input></br>                   
                <% } %>
            </ul>
        <% } else { %>
            <p id="empty">There is no messages yet</p>
        <% } %>
        
        
    </div>
</body>
</html>