<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Message</title>   
    <script src="/js/update.js" defer></script> 
</head>
<body>
    <h4>Update Message</h4>

    <form method="POST">
        <input type="hidden" name="id" value="<%= message.id %>"/>
        <table>
            <tr>
                <td><label for="id-disabled">Message Id</label></td>
                <td><input type="text" id="id-disabled" name="id-disabled" value="<%= message.id %>" disabled/></td>
            </tr>
            <tr>
                <td><label for="text">Message Text</label></td>
                <td><input type="text" id="text" name="text" value="<%= message.text %>"/></td>
            </tr>
        </table>
    </form>

    <div>
        <a href="#" id="update-link">Update</a>
        <a href="/" id="back-link">Back</a>
    </div>
</body>
</html>